asyncpg==0.27.0
Flask==2.2.2
function_cooldowns==1.7.0
google_api_python_client==2.74.0
Markdown==3.4.3
nest_asyncio==1.5.6
numerize==0.12
parsedatetime==2.6
Pillow==9.5.0
pycryptodome==3.17
pytube==12.1.2
pytz==2022.7.1
Requests==2.30.0

git+https://github.com/john-science/mazelib/